<div id='page-singlepost'>
  <div id='single-post'>
    <div id='post-header'>
      <p id='post-title'>{{post.title}}</p>
      <p id='post-date'>{{format_date post.date}}</p>
    </div>
    <p id='post-body'>{{post.description}}</p>
    <p id='post-user'>- {{post.user}}</p>
  </div>
  <form id='comment-form'>
    {{#if loggedIn}}
      <textarea id='comment-field' placeholder='Add comment'></textarea>
      <button type='submit' class="primary-bg align-self-end">Submit</button>
    {{else}}
      <textarea id='comment-field' disabled='true' placeholder='To comment on the post you must be logged in.'
      ></textarea>
    {{/if}}
  </form>
  <hr id='comment-section-divider' />
  <div id='comment-section'>
    {{#if post.comments}}
      {{#each post.comments as |comment|}}
        {{#if comment.usersComment}}
        <div id="single-comment" class="users-comment">
        <div id="comment-control">
          <button data-comment-id="{{comment.commentId}}" id="confirm-comment-{{comment.commentId}}" class='confirm-comment primary-bg'>Confirm</button>
          <button data-comment-id="{{comment.commentId}}" id="edit-comment-{{comment.commentId}}" class='edit-comment primary-bg'>Edit</button>
          <button data-comment-id="{{comment.commentId}}" id="delete-comment-{{comment.commentId}}" class='delete-comment primary-bg'>Delete</button>
        </div>
        {{else}}
        <div id='single-comment'>
  
          {{/if}}
          <div id='comment-wrapper'>
            <p id='user'>{{comment.user}}</p>
            <p id='comment'>{{comment.text}}</p>
          </div>
          <p id='comment-date'>{{format_date comment.date}}</p>
        </div>
      {{/each}}
    {{else}}
      <p>No comments</p>
    {{/if}}
  </div>
</div>
<script src='/js/add-comment.js'></script>
<script src='/js/edit-comment.js'></script>
<script src='/js/delete-comment.js'></script>